js/aos.js
js/bootstrap.min.js
js/jquery.min.js
js/smoothscroll.js
fonts/FontAwesome.otf
fonts/Lalezar-Regular.ttf
fonts/fontawesome-webfont.woff2
fonts/fontawesome-webfont.woff
fonts/fontawesome-webfont.ttf
fonts/fontawesome-webfont.svg
fonts/fontawesome-webfont.eot
fonts/B Yekan.TTF
fonts/B Elham.TTF
fonts/Afra.TTF
fonts/Afra Light.TTF
css/font-awesome.min.css
css/bootstrap.min.css
css/aos.css
